# User Testing Report

User testing was conducted by Cassie Slack on October 22nd between the times of 3:00pm and 5:00pm with the following participants:

- Steven Donegani
- Kelly Seay
- Ashley Edmunson

## Tasks

1. Click though all of the news articles.
2. Fill out the Nomination Form
3. Find info on the last Tech Tuesday event.

---

## Individual Results & Observations

### Steven Donegani

- Had no issue with the news slider (all of the buttons worked and made sense)
- Should possibly make the smaller bottom buttons on the slider a little bigger as he seemed to not notice them at first.
- Had trouble finding Tech Tuesday 
- must have top of buckets above the fold so it is obvious that thay are there


### Kelly Seay

- She Clicked through the news without issue
- She also didnt notice the smaller buttons at first.
- Didnt have any isse finding the Tech Tuesday
- Had no issue with the form other than she looked for a link to it in the Nav when I told her to find it.
- should possibly have a link to the nomination somewhere at the top of the page.

### Ashley Edmunson

- She also missed the smaller slider nav buttons
- had no issue with tech tuesday
- looked in the nav for nomination form link 

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- Need slightly larger Slider nav buttons so that people know they are there


### Serious, Causes Frustration, May Hinder Completion

- have buckets peeking above fold so it is obvious they are there and are not missed.

### Minor, Annoying, Won’t Hinder Completion

- Having a link to nomination form could help as people werent quite sure where to find it until they scrolled down.