/* Basic jQuery Slider essential styles */

ul.bjqs {
  position:relative;
  list-style:none;
  padding:0;
  margin:0;
  overflow:hidden;
  display:none;
}

li.bjqs-slide {
  position:absolute;
  display:none;
}

ul.bjqs-controls {
  list-style:none;
  margin:0;
  padding:0;
  z-index:9999;
}

ul.bjqs-controls.v-centered li a {
  position:absolute;
}

ul.bjqs-controls.v-centered li.bjqs-next a {
  right:0;
  text-decoration: none;
  color: #fff;
  font-family: "Helvetica Neue" sans-serif;

  width: 60px;
  height: 100px;

  background-image: url('../images/next-arrow.png');
  background-repeat:no-repeat;
  background-position: center;
  padding: 2px;
}

ul.bjqs-controls.v-centered li.bjqs-prev a {
  left:0;
  text-decoration: none;
  color: #fff;
  font-family: "Helvetica Neue" sans-serif;

  width: 60px;
  height: 100px;

  background-image: url('../images/prev-arrow.png');
  background-repeat:no-repeat;
  background-position: center;
  padding: 2px;
}

ul.bjqs-controls.v-centered li.bjqs-prev a:hover,
ul.bjqs-controls.v-centered li.bjqs-prev a:focus,
ul.bjqs-controls.v-centered li.bjqs-prev a:active {
  background-image: url('../images/prev-arrow-hover.png');
  background-repeat:no-repeat;
  background-position: center;

  -webkit-transition:all 0.3s ease-in-out;
  transition:all 0.3s ease-in-out;

}

ul.bjqs-controls.v-centered li.bjqs-next a:hover,
ul.bjqs-controls.v-centered li.bjqs-next a:focus,
ul.bjqs-controls.v-centered li.bjqs-next a:active {
  background-image: url('../images/next-arrow-hover.png');
  background-repeat:no-repeat;
  background-position: center;

  -webkit-transition:all 0.3s ease-in-out;
  transition:all 0.3s ease-in-out;

}


ol.bjqs-markers {
  list-style:none;
  padding: 0;
  margin: 0;
  width:100%;
}

ol.bjqs-markers.h-centered {
  text-align: center;
}

ol.bjqs-markers li {
  display:inline;
  margin: 5px;
}

ol.bjqs-markers li a {
  display:inline-block;

  text-decoration: none;
  font-family: "Helvetica Neue" sans-serif;
  color: #fff;

  width: 2px;
  height: 2px;

  background-image: url('../images/button.png');
  background-size: 100%;
  background-repeat:no-repeat;
  background-position: center;
  padding: 4px;
}

ol.bjqs-markers li a:hover,
ol.bjqs-markers li a:focus,
ol.bjqs-markers li a:active {
    background-image: url('../images/button-hover.png');
  background-size: 100%;
  background-repeat:no-repeat;
  background-position: center;
  -webkit-transition:all 0.3s ease-in-out;
  transition:all 0.3s ease-in-out;
}

p.bjqs-caption {
  display:block;
  width:96%;
  margin:0;
  padding:2%;
  position:absolute;
  bottom:0;

  font-family: "Helvetica Neue" sans-serif;
  font-weight: lighter;
  font-style: italic;
  color: #000;

  background-color: #B4D694;
}

@media only screen and (min-width: 60em){
  p.bjqs-caption {
    font-size: 1.3rem;
  }
}
