---
layout: default
---

<img class="flex-img" src="images/teach-tues-banner.jpg" alt="Welcome to Tech Tuesday, photo of iMacs">


<h1>Tech Tuesdays</h1>
<p class="sub"> Showing the latest and greatest tech and tech tips.</p>

<div class="grid">

  <div class="unit unit-s-1 unit-m-1 unit-l-1">
    <div class="unit-spacer">
      {% for tech in site.pages %}
        {% if tech.date == "22/10/2013" %}
          <img src="{{tech.thumb}}" alt="{{tech.title}}">
          <h2>{{tech.title}}</h2>
          <p class="article-sub">{{tech.subtitle}}</p>
          <p>{{tech.description}}</p>
        {% endif %}
      {% endfor %}
    </div>
  </div>

  <div class="unit unit-s-1 unit-m-2 unit-l-1-4">
    <div class="unit-spacer">
      {% for tech in site.pages %}
        {% if tech.date == "10/09/2013" %}
          <img src="{{tech.thumb}}" alt="{{tech.title}}">
          <h2>{{tech.title}}</h2>
          <p class="article-sub">{{tech.subtitle}}</p>
          <p>{{tech.description}}</p>
        {% endif %}
      {% endfor %}
    </div>
  </div>

  <div class="unit unit-s-1 unit-m-2 unit-l-1-4">
    <div class="unit-spacer">
      {% for tech in site.pages %}
        {% if tech.date == "13/08/2013" %}
          <img src="{{tech.thumb}}" alt="{{tech.title}}">
          <h2>{{tech.title}}</h2>
          <p class="article-sub">{{tech.subtitle}}</p>
          <p>{{tech.description}}</p>
        {% endif %}
      {% endfor %}
    </div>
  </div>

  <div class="unit unit-s-1 unit-m-2 unit-l-1-4">
    <div class="unit-spacer">
      {% for tech in site.pages %}
        {% if tech.date == "16/07/2013" %}
          <img src="{{tech.thumb}}" alt="{{tech.title}}">
          <h2>{{tech.title}}</h2>
          <p class="article-sub">{{tech.subtitle}}</p>
          <p>{{tech.description}}</p>
        {% endif %}
      {% endfor %}
    </div>
  </div>

  <div class="unit unit-s-1 unit-m-2 unit-l-1-4">
    <div class="unit-spacer">
      {% for tech in site.pages %}
        {% if tech.date == "22/10/2013" %}
          <img src="{{tech.thumb}}" alt="{{tech.title}}">
          <h2>{{tech.title}}</h2>
          <p class="article-sub">{{tech.subtitle}}</p>
          <p>{{tech.description}}</p>
        {% endif %}
      {% endfor %}
    </div>
  </div>


</div>
