@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }


html {
 margin:0;
 padding:0;

 font-family: "Helvetica Neue", helvetica, arial, sans-serif;

}

body {
  margin:0;
  padding:0;
}



/*----------------------------------------------------------------------HEADER*/

header {
  background-color: #333;

  border: 1px solid red;

  height: 4.5em;
  margin:0;
  padding:0;

}

/*--------------------------------------------------------------------------h1*/

h1 {
  font-family: "Helvetica Neue" sans-serif;
  font-weight: bold;
  line-height: 2.1;

  padding: 10px;
  margin:1.6em 0 0 0;

  text-align: center;
}

.sub {
  padding: 10px;
  margin:-.5em 0 0 0;

  font-weight: lighter;
  font-style: italic;

  text-align:center;

}

.sub a {
  text-decoration: none;
  color: #666;
}

.sub a:hover {
  color: #B4D694;

    -webkit-transition:all 0.3s ease-in-out;
  transition:all 0.3s ease-in-out;
}

@media only screen and (min-width: 48em){
  h1 {
    font-size: 3rem;
    margin: 2.2em 0 0 0;
  }

  .sub {
    font-size: 1.4rem;
    margin: 0 0 1em 0;
  }
}

@media only screen and (min-width: 60em){
  h1 {
    font-size: 5rem;
    margin: 3rem 0 0 0;
  }

  .sub {
    font-size: 2rem;
    margin: 0 0 2rem 0;
  }
}

@media only screen and (min-width: 90em){
  h1 {
    font-size: 7rem;
    margin: 4rem 0 1rem 0;
  }

  .sub {
    font-size: 3rem;
    margin: 0 0 3rem 0;
  }
}

/*------------------------------------------------------------HOME PAGE STYLES*/
/*---------------------------------------------------------------ARTICLE ITEMS*/


.bucket-img {
  position: relative;
}

.bucket-text {
  position: absolute;
  bottom: 0;
  left:0;
  right:0;
  background-color: rgba(51,51,51,0.8);
  color: #fff;

  padding: 0 0 20px 20px;
}

.bucket-text:hover ,
.bucket-text:focus ,
.bucket-text:active {
  background-color: rgba(180,215,148,0.8);
  color: #000;

  -webkit-transition:all 0.3s ease-in-out;
  transition:all 0.3s ease-in-out;
}
.flex-img {
  width: 100%;
  display: block;
}
/*--------------------------------------------------------------------NOMINATE*/

.nominate {
  padding: 40px 15px 15px 15px;
  margin: 2rem 0 0 0;

  background-color: #B4D694;

}

.nominate p, h3 {
  width: 20rem;

}

.nominate p {
  font-weight: lighter;
  line-height: 1.4rem;
}

@media only screen and (min-width: 80em){
  .nominate p, h3{
    margin: 0 0 0 19rem;

  text-align: right;
  }

  .nominate h3 {
    font-size: 2rem;
    padding: 5px 0 5px 0;
  }

  .nominate p {
    line-height: 1.9rem;
    font-size: 1.5rem;
  }
}
/*END HOME PAGE STYLES*/
/*---------------------------------------------------------TECH TUESDAY STYLES*/

.tech-tues {
  background-color: #e4e4e4;
  display: inline-block;
  margin:-1rem 0 1rem 0;
}

.tech-text {
  float:right;

  width: 80%;
}

.text-text p {
  line-height: 1.8rem;
}

.article-sub {
  font-weight: lighter;
  font-style: italic;

  margin:-1rem 0 0 0;
  padding:0;
}

.tech-img {
  width: 15%;
  float: left;
}

@media only screen and (min-width: 40em){
  .tech-text p {
    font-size: 1.1rem;
  }
}

@media only screen and (min-width: 60em){
  .tech-text p {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 2rem;
  }
}

/*-----------------------------------------------------------------------FORMS*/

.form-div {
  width: 100%;


}

.form-div ul {
  list-style-type: none;
}

.form-list a{
  text-decoration: none;
  color: #333;
}

.form-list a:hover{
  text-decoration: none;
  color: #B4D694;


  -webkit-transition:all 0.3s ease-in-out;
  transition:all 0.3s ease-in-out;
}

/*----------------------------------------------------------------------FOOTER*/

footer {
  color: #fff;
  background-color: #333;

  padding: 15px;
}

footer ul {
  list-style-type: none;
}

footer li {
  padding: 3px;
}

footer a {
  text-decoration: none;
  color: #999;
}

footer a:hover,
footer a:active,
footer a:focus {
  color:#666;
  -webkit-transition:all 0.3s ease-in-out;
  transition:all 0.3s ease-in-out;
}
