<!DOCTYPE html>
<html lang=en-ca>
<head>
  <meta charset=utf-8>
  <title>EFH Intranet</title>

  <!--CSS-->
  <link href="{{site.baseurl}}/css/large-data-website.css" rel="stylesheet">

  <!--FONTS-->
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>

  <!-- IMAGE SLIDER LOAD PLUGINS -->
  <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
  <script src="js/bjqs-1.3.js"></script>

  <!--SEO-->
  <meta name="description" content="The ultimate hub for Eastforest Homes employees!">

  <!--FACEBOOK OPEN GRAPH CARD-->
  <meta charset="utf-8">
  <title>Facebook Open Graph</title>
  <meta property="og:type" content="article">
  <meta property="og:title" content="Title of this page">
  <meta property="og:url" content="URL of this page">
  <meta property="og:image" content="URL to an image representing this article">
  <meta property="og:site_name" content="Name of your website">
  <meta property="og:description" content="Description of this page">


  <!--TWITTER CARD-->
  <meta charset="utf-8">
  <title>Twitter Cards</title>
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Title of this page">
  <meta name="twitter:url" content="URL of this page">
  <meta name="twitter:description" content="Description of this page">
  <meta name="twitter:image" content="URL to an image representing this page">



</head>
<body id="top">

  <ul class="skiplinks">
    <li><a href="#main">Skip to Primary Content</a></li>
    <li><a href="#complimentary">Skip to Secondary Content</a></li>
    <li><a href="#navigation">Skip to Navigation</a></li>
  </ul>


  <header>

  <!--Mobile Nav-->

  <a href="#nav" class="nav-btn" data-state="inactive">Navigate</a>
  <nav class="nav nav-top" data-state="collapsed">
    <ul>
      <li><a href="{{site.baseurl}}/">Home</a></li>
      <li><a href="#">Site Maps</a></li>
      <li><a href="#">Phone List</a></li>
      <li><a href="#">Communication</a></li>
      <li><a href="#">Forms</a></li>
      <li><a href="{{site.baseurl}}/archive.html">Archived</a></li>
    </ul>
  </nav>

<!--Large Screen Nav-->

  <nav id="navigation" class="large-nav">
    <ul>
      <li><a href="{{site.baseurl}}/">Home</a></li>
      <li><a href="#">Site Maps</a></li>
      <li><a href="#">Phone List</a></li>
      <li><a href="#">Communication</a></li>
      <li><a href="#">Forms</a></li>
      <li><a href="{{site.baseurl}}/archive.html">Archived</a></li>
    </ul>
  </nav>

  </header>


{{content}}


  <footer>
    ©CSlack Design 2013
    <ul>
      <li>Eastforest Homes</li>
      <li><em>building a better tomorrow.</em></li>
    </ul>
    <ul>
      <li>Need Help?</li>
      <li><a href="#" rel="external">Contact Support</a></li>
      <li><a href="#" rel="home">Back to Top</a></li>
    </ul>
  </footer>


  <!--SCRIPTS-->

  <!--Navigation Script-->
  <script src="js/footer-toggle-hybrid.js"></script>

</body>
</html>
